*{margin:0;padding:0}header{padding:2% 5%;background-color:#4169e1}header h1{color:#fff}.main{height:80vh;background-color:wheat;width:90%;margin:auto}footer{padding:1% 5%;background-color:#4169e1}footer h4{color:#fff}
